.btn{
  width: 270px;
  height: 45px;
  color: #fff;
  border-radius: 5px;
  font-weight: 700;
  font-family: "Open Sans";
  font-size: 17px;
  transition: all 1s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
.green{
  background: #31AE54;
}
.grey {
  background: #9E9E9E;
}
.loading{
  position: relative;
  background: #9E9E9E;
  cursor: progress;
  .spinner{
    width: 30px;
    height: 30px;
    transform: rotate(360deg);
    animation: spinner-rotate infinite linear 1.5s;
  }
}
@keyframes spinner-rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}