.c-slider-item{
  transition: all .5s ease;
  width: 375px;
  height: 670px;
  transform: scale(0.85);
  border-radius: 10px;
  overflow: hidden;
  background: #fff;
  padding: 10px;
  position: relative;
  opacity: 0.4;
}
.progressBar--wrapper{
  margin-top: 10px;
}
.slider-item-header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
  background: #fff;
  border-bottom: 1px solid #C4C4C4;
}
.user--wrapper{
  display: flex;
  align-items: center;
  margin-top: 12px;
}
.follow--wrapper{
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 30px;
  padding-top: 22px;
  border-top: 1px solid #CACACA;
}
.info{
  width: 100%;
  margin-top: 20px;
}
.readme{
  width: 375px;
  padding: 15px;
}
.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 480px;
  margin-top: 70px;
  overflow-y: scroll;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    display: block;
    width: 5px;
    height: 230px;

  }
  &::-webkit-scrollbar-thumb{
    background: #AFAFAF;
    border-radius: 10px;
  }
}
.text{
    line-height: 24px;
    letter-spacing: 0.05em;
}
.img--wrapper{
  width: 300px;
  height: 200px;
  margin: 20px 0;
}
.loader{
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
