.auth__content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  padding-left: calc(10% - 10px);
  background: #E5E5E5;
  h1{
    font-size: 46px;
  }
  .auth__subtitle{
    color: #6F6F6F;
    width: 260px;
    font-size: 18px;
    line-height: 28px;
    margin-top: 25px;
    margin-bottom: 50px;
  }
}
.auth__button{
  background: #31AE54;
  border-radius: 5px;
  padding: 10px 24px;
  color: #FFF;
  font-weight: 700;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.githubIcon{
  width: 24px;
  height: 24px;
  margin-left: 12px;
}
.auth__wrapper{
  width: 260px;
}
.copyright{
  position: absolute;
  bottom: 50px;
  left: calc(50% - 110px);
  color: #00000066;
}