.spinner-wrapper{
  transform: rotate(360deg);
  animation: spinner-rotate infinite linear 1.5s;
  width: 40px;
  height: 40px;
  color: white;
}

.green{
  color: #31AE54;
}

@keyframes spinner-rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
