.c-post-item{
  display: flex;
  flex-direction: column;
}
.avatar{
  width: 44px;
  height: 44px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.user--wrapper{
  width: 110px;
  display: inline-flex;
  justify-content: space-between;
  margin: 15px 0;
}
.username{
  font-weight: 700;
  font-size: 18px;
  align-self: center;
}
.user__content{
  width: 100%;
  border: 1px solid #F1F1F1;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  min-height: 170px;
  padding: 25px 20px;
}
.subtitle{
  font-weight: 700;
  line-height: 22px;
  margin-top: 15px;
}

.data{
  margin-top: 15px;
  color:  #00000066;
  line-height: 14px;
}
.tools--wrapper{
  margin-top: 30px;
}