.icon{
  width: 10px;
  height: 6px;
}
.button{
  display: flex;
  margin-top: 20px;
  align-items: center;
  .icon{
    width: 12px;
    height: 6px;
    display: flex;
    align-items: center;
    transition: all .5s ease;
    margin-left: 10px;
  }
  &.active{
    .icon{
      transform: rotate(180deg);
    }
  }
}
.text{
  color: #292929;
  font-weight: 500;
  font-size: 15px;
}