.user-container{
  display: flex;
}

.user-info{
  margin-left: 20px;
}

.user-numbers{
  display: flex;
  margin-bottom: 3px;

  span {
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
  }
}

.numbers-link{
  color: green;
  text-decoration: underline;
  margin-left: 4px;

  &:hover{
    text-decoration: unset;
  }
}

.starred{
  margin-left: 10px;
}

.user-login{
  font-size: 24px;
  line-height: 29px;
  color: #282828;
  margin-bottom: 7px;
}

.user-name{
  color: grey;
  font-size: 14px;
  line-height: 17px
}
