.x-topline{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 120;
}


.profile-info{
  position: fixed;
  width: 380px;
  min-height: calc(100% - 144px);
  padding-bottom: 35px;
  border-right: 1px solid #D3D3D3;

  display: flex;
  flex-direction: column;
}

.profileFollowing--wrapper{
  margin-left: 380px;
  margin-top: 144px;
  padding-left: 74px;
}
.repo--wrapper{
  margin-left: 380px;
  margin-top: 144px;
  padding-left: 74px;
}
.profile-title{
  font-size: 26px;
  line-height: 28px;
  padding: 40px 0 35px 0;
}

//Bottom nav

.profile-nav{
  display: flex;

  justify-self: flex-end;
  flex-grow: 1;
  align-items: flex-end;
}

.profile-nav-item{
  margin-right: 10px;

  &:last-of-type{
    margin-right: unset;
  }

  button{
    font-size: 18px;
    color: grey;
    transition: .3s all;

    &:hover{
      opacity: .75;
    }
  }

  .active{
    color: black
  }
}
