.avatar{
  border-radius: 50%;
  overflow: hidden;
}
.extra-large{
  width: 73px;
  height: 73px;
}
.large{
  width: 90px;
  height: 90px;
}
.small{
  width: 44px;
  height: 44px;
}
.extra-small{
  width: 37px;
  height: 37px;
}
.mega-small{
  width: 32px;
  height: 32px;
}