@import 'assets/scss/fonts.scss';






*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html{
  font-size: $baseFont;
  font-family: $baseFamily, "sans-serif";
  color: $baseColor;
  overflow-x: hidden;

  @include phones{
    font-size: $baseFont - 1px;
  }
}
li{
  list-style-type: none;
}
h1{
  font-weight: 900;
  font-size: 34px;
  cursor: pointer;
}
h2{
  font-weight: 700;
  font-size: 26px;
}
img{
  width: 100%;
  height: 100%;
  object-fit:cover;
}
.wrapper{
  overflow: hidden;
}
.x-container{
  width: 1200px;
  margin: 0 auto;
}
button{
  outline: none;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
  font-family: "Inter";
}
.icon{
  cursor: pointer;
}