.icon{
  color: #262626;
  cursor: pointer;
}

.stories{
  display: flex;
  justify-content: space-between;
}
h1{
  cursor: pointer;
}
.container {

}
.postItem--wrapper {
  max-width: 980px;
  width: 100%;
  margin: 0 auto;
}