.icon{
  color: #262626;
  cursor: pointer;
}
.stories{
  display: flex;
  justify-content: flex-start;
}
h1{
  cursor: pointer;
}
.postItem--wrapper {
  max-width: 980px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
}
.container{
  padding: 0 30px;
}